<section fxLayout="column" fxFlexAlign="stretch">
  <div fxFlexAlign="center">
    <p>{{title}}</p>
  </div>
  <mat-card *ngIf="!startTest && !questionPool" class="textAlignCenter">
    Loading ...
  </mat-card>
  <mat-card *ngIf="!startTest && questionPool" class="textAlignCenter">
    <button mat-raised-button color="basic" class="question-selector-button margin-right-10" routerLink="/">
      < Home
    </button>
    <button mat-raised-button color="basic" (click)="startWithRandom(numberOfRandomQuestions)"
            class="question-selector-button margin-right-10">
      Starte mit {{numberOfRandomQuestions}} zufälligen Fragen
    </button>
    <button mat-raised-button color="basic" (click)="startWithAll()" class="question-selector-button">
      Starte mit allen verfügbaren Fragen
    </button>
  </mat-card>
  <mat-card *ngIf="startTest">
    <div *ngFor="let question of questions; let i = index">
      <mat-card-content>
        <h3>
          {{question.name}}
        </h3>

        <ul *ngIf="question.type == 'checkbox'">
          <li *ngFor="let answer of question.answers; let j = index" class="example-margin">
            <mat-checkbox [(ngModel)]="checkboxAnswers[i][j]"
                          [style]="showSolution ? (checkCheckboxSolution(questions[i], answer, i, j) ? 'color: green' : 'color: red') : ''">
              {{answer.text}}
            </mat-checkbox>
          </li>
        </ul>
        <mat-radio-group *ngIf="question.type == 'radio'" [(ngModel)]="radioAnswers[i]">
          <mat-radio-button *ngFor="let answer of question.answers; let j = index" [value]="answer.text"
                            [style]="showSolution ? (checkRadioSolution(questions[i], answer, i) ? 'color: green' : 'color: red') : ''">
            {{answer.text}}
          </mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
      <hr *ngIf="i < questions.length-1" class="mat-card-hr">
    </div>
  </mat-card>

  <mat-card class="margin-top-20" *ngIf="startTest">
    <span style="float: left">
      <button mat-raised-button color="primary" (click)="solve()" class="abgeben-button">
        Prüfen
      </button>
      <button mat-raised-button color="basic" (click)="reset()" class="abgeben-button margin-left-10"
              *ngIf="showSolution">
        Reset
      </button>
    </span>
    <span style="float: right; margin-left: 10px; margin-top: 10px;" *ngIf="showSolution">
      {{rightAnswers}} von {{possibleAnswersCounter}} Antworten sind richtig!
    </span>
  </mat-card>

</section>
