.layout-wrapper {
  height: 100%;
}

.flex-wrapper {
  height: 100%;
}

.github-ribbon {
  position: fixed;
  width: 150px;
  height: 150px;
  overflow: hidden;
  z-index: 99999;
  right: 0px;
  top: 0px;
}

.github-ribbon a {
  display: inline-block;
  width: 200px;
  overflow: hidden;
  padding: 6px 0px;
  text-align: center;
  transform: rotate(45deg);
  text-decoration: none;
  color: rgb(255, 255, 255);
  position: inherit;
  font: 700 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 3px 0px;
  background-color: rgb(36, 36, 36);
  right: -40px;
  top: 45px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  border-width: 1px 0px;
  border-style: dotted;
  border-color: rgba(255, 255, 255, 0.7);
}
