<section fxLayout="column" fxFlexAlign="stretch">
  <div fxFlexAlign="center">
    <p>{{title}}</p>
  </div>
  <mat-card *ngIf="!tests" class="textAlignCenter">
    Loading ...
  </mat-card>

  <mat-card *ngIf="tests" class="textAlignCenter">
    <div *ngFor="let test of tests; let i = index">
      <button mat-raised-button color="basic" class="question-selector-button margin-right-10"
              routerLink="/test/{{test.uniqueIdentifier}}">
        {{test.title}}
      </button>
      <hr *ngIf="i < tests.length-1" class="mat-card-hr">
    </div>
  </mat-card>

</section>
